---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Acerca de la Revista Chelén"
	description="Socialismo y Weas"
	pubDate={new Date('May 10 2026')}
	heroImage="/blog-placeholder-about.png"
>
	<p>
		Revista Chelén nace en 2026 al alero del Núcleo de la Juventud Socialista de Chile en el Campus 
		Juan Gómez Millas de la Universidad de Chile. Surge como una herramienta de construcción, difusión 
		y articulación política; un proyecto que, si bien nació con la mirada puesta en el campus, se expandió 
		rápidamente hacia nuevos horizontes. Hoy, a través de nuestras ediciones impresas, este sitio web y 
		diversas iniciativas, nutrimos de contenido tanto a la Juventud Socialista como al campo de una 
		izquierda amplia y crítica, urgente frente al avance de los proyectos de ultraderecha.
	</p>

	<p>
		Sostenemos la convicción de que el socialismo trasciende las fronteras de un partido. Por ello, 
		esta revista no nace desde la exclusión, sino desde la impugnación a la falsa neutralidad de los 
		medios de comunicación, tanto nacionales como universitarios. En Chelén convergen todas las voluntades 
		comprometidas con la transformación del capitalismo realmente existente y la superación de cualquier 
		esquema de opresión que le sea inherente.
	</p>

	<p>
		Del mismo modo, la revista se hace cargo de la paulatina decadencia de los partidos políticos. 
		Desde nuestra lectura, este fenómeno está estrechamente vinculado a la incapacidad de ofrecer 
		una alternativa que no sea solo económica, sino también política, cultural y social; una propuesta 
		que logre distanciarse del Consenso de Washington. La oportunidad de contar con esta plataforma 
		radica en la posibilidad de describir, en nuestros propios términos y tiempos, tanto las críticas 
		al modelo actual como las autocríticas necesarias sobre nuestra propia contribución al 
		perfeccionamiento del mismo.
	</p>
</Layout>